.Rproj.user
.Rhistory
.RData
.Ruserdata

NAMESPACE

*.o
src/onlineforecast\.so
inst/doc

modifications_old_notstaged/


cache/

man/

misc-R/*cache*

vignettes/*cache*
vignettes/*genfig*
vignettes/*_files*

tmp/

onlineforecast.Rcheck