.Rproj.user
.Rhistory
.RData
.Ruserdata

NAMESPACE

*.o
src/onlineforecast\.so
inst/doc

modifications_old_notstaged/


cache/

man/

misc-R/*cache*

vignettes/*cache*
vignettes/*genfig*
vignettes/*_files*
vignettes/tmp-output/
vignettes/setup-data_cache/
vignettes/solar-forecasting_cache-rls/
vignettes/building-heat-load-forecasting_cache/
vignettes/onlineforecasting_pdf_source/onlineforecasting\.tex

vignettes/onlineforecasting_pdf_source/*cache*
vignettes/onlineforecasting_pdf_source/*genfig*
vignettes/onlineforecasting_pdf_source/onlineforecasting-tikzDictionary
vignettes/onlineforecasting_pdf_source/onlineforecasting.log
vignettes/onlineforecasting_pdf_source/onlineforecasting.pdf

