.Rproj.user
.Rhistory
.RData
.Ruserdata

*.o
src/onlineforecast\.so

modifications_old_notstaged/


cache/

misc-R/*cache*

vignettes/*cache*
vignettes/*genfig*
vignettes/*_files*

tmp/

onlineforecast.Rcheck